[Unit]
Description=Socket for webcam access

[Socket]
ListenStream=8080
Accept=True
NoDelay=True
TriggerLimitIntervalSec=0
FileDescriptorName=HTTP

[Install]
WantedBy=sockets.target
