[Unit]
Description=HTTP server streaming a single MJPEG stream from the webcam
Upholds=mjpeg-streamer.service
RefuseManualStart=yes
CollectMode=inactive-or-failed

[Service]
Type=notify
NotifyAccess=all
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/mjpeg-multiplex-streamer/.venv/bin/python /opt/mjpeg-multiplex-streamer/server.py --socket=systemd /run/webcam/
Restart=no
WatchdogSec=10
ExecStopPost=/bin/sh -c 'if [ $$SERVICE_RESULT = "watchdog" ]; then systemctl stop mjpeg-streamer.service; fi'

ProtectSystem=strict
PrivateTmp=yes
PrivateUsers=yes
ProtectHome=tmpfs
NoNewPrivileges=yes
PrivateNetwork=yes
DynamicUser=yes
